
<html lang="en">
<head th:fragment="head">

    <link th:href="@{/css/planets.css}" rel="stylesheet" type="text/css"/>

</head>
<head>
    <h1>Neptune</h1>
    <img height="440" src="/img/neptune-rdy.png" width="340"/>
    <h2>Planet Profile</h2>
    <h3>History of Neptune</h3>
    <h5>Orbit: 4,504,000,000 km from Sun
        <br/>
        Diameter: 49,532 km (equatorial)
        <br/>
        Mass: 1.0247e26 kg
    </h5>


    <div class="container"><h4> In Roman mythology Neptune (Greek: Poseidon) was the god of the Sea.
        After the discovery of Uranus, it was noticed that its orbit was not as it should be in accordance with Newton's
        laws. It was therefore predicted that another more distant planet must be perturbing Uranus' orbit. Neptune was
        first observed by Galle and d'Arrest on 1846 Sept 23 very near to the locations independently predicted by Adams
        and Le Verrier from calculations based on the observed positions of Jupiter, Saturn and Uranus. An international
        dispute arose between the English and French (though not, apparently between Adams and Le Verrier personally)
        over priority and the right to name the new planet; they are now jointly credited with Neptune's discovery.
        Subsequent observations have shown that the orbits calculated by Adams and Le Verrier diverge from Neptune's
        actual orbit fairly quickly. Had the search for the planet taken place a few years earlier or later it would not
        have been found anywhere near the predicted location. More than two centuries earlier, in 1613, Galileo observed
        Neptune when it happened to be very near Jupiter, but he thought it was just a star. On two successive nights he
        actually noticed that it moved slightly with respect to another nearby star. But on the subsequent nights it was
        out of his field of view. Had he seen it on the previous few nights Neptune's motion would have been obvious to
        him. But, alas, cloudy skies prevented observations on those few critical days. Neptune has been visited by only
        one spacecraft, Voyager 2 on Aug 25 1989. Much of we know about Neptune comes from this single encounter. But
        fortunately, recent ground-based and HST observations have added a great deal, too. Because Pluto's orbit is so
        eccentric, it sometimes crosses the orbit of Neptune making Neptune the most distant planet from the Sun for a
        few years. Neptune's composition is probably similar to Uranus': various "ices" and rock with about 15% hydrogen
        and a little helium. Like Uranus, but unlike Jupiter and Saturn, it may not have a distinct internal layering
        but rather to be more or less uniform in composition. But there is most likely a small core (about the mass of
        the Earth) of rocky material. Its atmosphere is mostly hydrogen and helium with a small amount of methane.
        Neptune's blue color is largely the result of absorption of red light by methane in the atmosphere but there is
        some additional as-yet-unidentified chromosphere which gives the clouds their rich blue tint.
        Like a typical gas planet, Neptune has rapid winds confined to bands of latitude and large storms or vortices.
        Neptune's winds are the fastest in the solar system, reaching 2000 km/hour. Like Jupiter and Saturn, Neptune has
        an internal heat source -- it radiates more than twice as much energy as it receives from the Sun. At the time
        of the Voyager encounter, Neptune's most prominent feature was the Great Dark Spot (left) in the southern
        hemisphere. It was about half the size as Jupiter's Great Red Spot (about the same diameter as Earth). Neptune's
        winds blew the Great Dark Spot westward at 300 meters/second (700 mph). Voyager 2 also saw a smaller dark spot
        in the southern hemisphere and a small irregular white cloud that zips around Neptune every 16 hours or so now
        known as "The Scooter" (right). It may be a plume rising from lower in the atmosphere but its true nature
        remains a mystery. However, HST observations of Neptune (left) in 1994 show that the Great Dark Spot has
        disappeared! It has either simply dissipated or is currently being masked by other aspects of the atmosphere. A
        few months later HST discovered a new dark spot in Neptune's northern hemisphere. This indicates that Neptune's
        atmosphere changes rapidly, perhaps due to slight changes in the temperature differences between the tops and
        bottoms of the clouds. Neptune also has rings. Earth-based observations showed only faint arcs instead of
        complete rings, but Voyager 2's images showed them to be complete rings with bright clumps. One of the rings
        appears to have a curious twisted structure (right). Like Uranus and Jupiter, Neptune's rings are very dark but
        their composition is unknown. Neptune's rings have been given names: the outermost is Adams (which contains
        three prominent arcs now named Liberty, Equality and Fraternity), next is an unnamed ring co-orbital with
        Galatea, then Leverrier (whose outer extensions are called Lassell and Arago), and finally the faint but broad
        Galle. Neptune's magnetic field is, like Uranus', oddly oriented and probably generated by motions of conductive
        material (probably water) in its middle layers. Neptune can be seen with binoculars (if you know exactly where
        to look) but a large telescope is needed to see anything other than a tiny disk. There are several Web sites
        that show the current position of Neptune (and the other planets) in the sky, but much more detailed charts will
        be required to actually find it. Such charts can be created with a planetarium program.

    </h4><h4>
    </h4>
    </div>
</head>
<body>

</body>
</html>