<link rel="shortcut icon" href="img/logo.jpg"  />
<html lang="en">
<head th:fragment="head">

    <link th:href="@{/css/planets.css}" rel="stylesheet" type="text/css"/>

</head>

<head>
    <h1>Pluto</h1>
    <img height="440" src="/img/pluto-rdy.png" width="340"/>
    <h2>Planet Profile</h2>
    <h3>History of Pluto</h3>
    <h5>Orbit: 5,913,520,000 km from the Sun (average)
        <br/>
        Diameter: 2372 km
        <br/>
        Mass: 1.303e22 kg
    </h5>


    <div class="container"><h4> In Roman mythology, Pluto (Greek: Hades) is the god of the underworld. The
        planet received this name (after many other suggestions) perhaps because it's so far from the Sun that it is in
        perpetual darkness and perhaps because "PL" are the initials of Percival Lowell. Pluto was discovered in 1930 by
        a fortunate accident. Calculations which later turned out to be in error had predicted a planet beyond Neptune,
        based on the motions of Uranus and Neptune. Not knowing of the error, Clyde W. Tombaugh at Lowell Observatory in
        Arizona did a very careful sky survey which turned up Pluto anyway. After the discovery of Pluto, it was quickly
        determined that Pluto was too small to account for the discrepancies in the orbits of the other planets. The
        search for Planet X continued but nothing was founnd. Nor is it likely that it ever will be: the discrepancies
        vanish if the mass of Neptune determined from the Voyager 2 encounter with Neptune is used. There is no Planet
        X. But that doesn't mean there aren't other objects out there, only that there isn't a relatively large and
        close one like Planet X was assumed to be. In fact, we now know that there are a very large number of small
        objects in the Kuiper Belt beyond the orbit of Neptune, some roughly the same size as Pluto. Until 2015 even the
        Hubble Space Telescope was able to resolve only the largest features on its surface (left and above). On 14 July
        2015 the New Horizons spacecraft did a flyby of Pluto after being launched.
        Pluto has five moons: Charon, Hydra, Nix, Kerberos, Styx.
        Charon - 1,208 km
        Hydra - 55 km x 40 km
        Nix - 42 km x 36 km
        Kerberos - 12 km x 4.5 km
        Styx - 7 km x 3 km
        Family of Moons
        Until the visit by New Horizons the individual masses of Pluto and Charon could not be determined with great
        accuracy.
        The Pluto-Charon pair orbit about each other around a common center of mass called the barycenter.
        Pluto has an atmosphere consisting of mainly nitrogen extending to 1,600 km above the surface. Methane is
        another constituent of the atmosphere and it is likely caused by sunlight breaking down methane gas particles
        into ethylene and acetylene, which were also discovered by New Horizons. As the ethylene and acetylene sink into
        the atmosphere they condense and create a haze. In fact two distinct layers of haze surround the planet, one
        starting at about 80 km above the surface and extending to 130 km, the other is lower at an altitude of 50 km.
        New Horizons captured this image of the haze layers.
        The ultraviolet sunlight also acts on the haze converting it to tholins which are dark hydrocarbons and gives
        Pluto its characteristic color.
        Pluto has a heart shaped region called Sputnik Planum. The region is composed of nitrogen, carbon monoxide and
        methane ices. These ices flow like glaciers in the minus 234 C environment. The glaciers are thought to flow
        just as glaciers here on Earth do, although water ices on Pluto is very hard and virtually immovable.
        New Horizons sent back images from the edge of Sputnik Planum showing the tell-tale signs of glacial flow.
        Question: Pluto has a surface pressure over 10,000 times less than Earth, it has a atmosphere consisting of 98
        percent Nitrogen. It has been determined Pluto is losing Nitrogen from its atmosphere at a rate in the order of
        tons per hour, yet we have nitrogen glaciers. Where does all the nitrogen come from?Could cometary impacts be
        replenishing the nitrogen directly or possibly excavating enough nitrogen ices for replenishment? It could also
        be enough residual heat internal to Pluto and geologic activity is releasing nitrogen from within Pluto itself.
        As more data from New Horizons is downloaded we may find out. Pluto is the second most contrasty body in the
        Solar System (after Iapetus).There has been controversy about the classification of Pluto. It was classified as
        the ninth planet shortly after its discovery and remained so for 75 years. But on 2006 Aug 24 the IAU decided on
        a new definition of "planet" which does not include Pluto. Pluto is now classified as a "dwarf planet", a class
        distinct from "planet". While this may be controversial at first (and certainly causes confusion for the name of
        this website) it is my hope that this ends the essentially empty debate about Pluto's status so that we can get
        on with the real science of figuring out its physical nature and history. Pluto has been assigned number 134340
        in the minor planet catalog. Pluto's orbit is highly eccentric. At times it is closer to the Sun than Neptune
        (as it was from January 1979 thru February 11 1999). Pluto rotates in the opposite direction from most of the
        other planets. Pluto is locked in a 3:2 resonance with Neptune; i.e. Pluto's orbital period is exactly 1.5 times
        longer than Neptune's. Its orbital inclination is also much higher than the other planets'. Thus though it
        appears that Pluto's orbit crosses Neptune's, it really doesn't and they will never collide. (Here is a more
        detailed explanation.)Like Uranus, the plane of Pluto's equator is at almost right angles to the plane of its
        orbit. The surface temperature on Pluto varies between about -235 and -210 C (38 to 63 K). The "warmer" regions
        roughly correspond to the regions that appear darker in optical wave length. The unusual nature of the orbits of
        Pluto and of Triton and the similarity of bulk properties between Pluto and Triton suggest some historical
        connection between them. It was once thought that Pluto may have once been a satellite of Neptune's, but this
        now seems unlikely. A more popular idea is that Triton, like Pluto, once moved in an independent orbit around
        the Sun and was later captured by Neptune. Perhaps Triton, Pluto and Charon are the only remaining members of a
        large class of similar objects the rest of which were ejected into the Oort cloud. Like the Earth's Moon, Charon
        may be the result of a collision between Pluto and another body.Pluto can be seen with an amateur telescope but
        it is not easy. There are several Web sites that show the current position of Pluto (and the other planets) in
        the sky, but much more detailed charts and careful observations over several days will be required to reliably
        find it. Suitable charts can be created with many planetarium programs.

    </h4>
    </div>
</head>
<body>

</body>
</html>