<head th:fragment="head">

    <link th:href="@{/css/article.css}" rel="stylesheet" type="text/css"/>


</head>
<main>
    <main xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="container body-content span=8 offset=2">
            <div class="well">
                <form class="form-horizontal" th:action="@{/article/create}" method="POST">
                    <fieldset>
                        <legend>New Article</legend>

                        <div class="form-group">
                            <div class="col-sm-4 ">
                                <input type="text" class="form-control" id="article_title" placeholder="Article Title"
                                       name="title"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <textarea class="form-control" rows="6" id="article_content" name="content"  placeholder="Add Text"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <select class="form-control" id="article_category" name="categoryId">
                                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="article_tags" placeholder="Tags" name="tagString"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="roww">
                                <a class="btnn mdd ghost" th:href="@{/category}">Cancel</a>
                                <input type="submit" class="btnn mdd ghost" value="Submit" th:href="@{/category}"/>

                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
</main>