<head th:fragment="head">

    <link th:href="@{/css/list-articles.css}" rel="stylesheet" type="text/css"/>

</head>


<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-10">
                <article>
                    <header style="height: 0px;
width: 0px;">
                        <h2 th:text="${article.title}"></h2>
                    </header>

                    <p th:text="${article.content}"></p>

                    <small class="author" th:text="${article.author.fullName}"></small>
                    <p>
                        <a class="btnn smm ghost" th:each="tag:${article.tags}" th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                    </p>


                    <footer>

                        <div class="roww">

                            <th:block sec:authorize="isAuthenticated()"
                                      th:if="${user.isAdmin() OR user.isAuthor(article)}">
                                <a class="btnn smm ghost" th:href="@{/article/edit/{id}(id = ${article.id})}">Edit</a>
                                <a class="btnn smm ghost" th:href="@{/article/delete/{id}(id = ${article.id})}">Delete</a>
                            </th:block>

                            <a class="btnn smm ghost" th:href="@{/category/{id}(id=${article.category.id})}">Back</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</main>

