<head th:fragment="head">

    <link th:href="@{/css/list-articles.css}" rel="stylesheet" type="text/css"/>

</head>
<main>


<main>
    <div class="container body-content">
        <h1><th:block th:text="${category.name}"></th:block> Articles</h1>
        <div class="row">
            <th:block th:each="article : ${articles}">
                <div class="col-md-5">
                    <article>
                        <header>
                            <h2 th:text="${article.title}"></h2>
                        </header>

                        <p th:text="${article.summary}"></p>

                        <small class="author" th:text="${article.author.fullName}"></small>




                        <footer>
                            <div class="roww">
                                <a class="btnn smm ghost"
                                   th:href="@{/article/{id}(id=${article.id})}">Read more</a>
                                <a class="btnn smm ghost " th:href="@{/category}">Back</a>
                            </div>
                        </footer>
                    </article>
                </div>
            </th:block>
        </div>
    </div>
</main>
</main>